<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non-Technology Billionaires</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='header-image.jpg') }}" alt="Header Image" class="header-image">
        <h1 class="header-title">Non-Technology Billionaires</h1>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Industry</th>
                </tr>
            </thead>
            <tbody>
                {% for billionaire in results %}
                    <tr>
                        <td><a href="/billionaire/{{ billionaire[0] }}">{{ billionaire[0] }}</a></td>
                        <td>{{ billionaire[1] }}</td>
                        <td><a href="/industry_details/{{ billionaire[2] }}">{{ billionaire[2] }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="btn">Home</a>
    </main>
</body>
</html>
